#===============================
# Python キャッシュ
#===============================
__pycache__/
*.py[cod]

#===============================
# Jupyter 関連
#===============================
.ipynb_checkpoints/
workspace/tools/code_interpreter/

#===============================
# 仮想環境
#===============================
venv/
.venv/
env/

#===============================
# テスト・型チェックのキャッシュ
#===============================
.mypy_cache/
.pytest_cache/

#===============================
# ビルド／配布アーティファクト
#===============================
dist/
build/
*.egg-info/

#===============================
# モデル／学習チェックポイント等
#===============================
*.distcp
*.pt
*.ckpt
*.bin

#===============================
# 今回 push しないフォルダ
#===============================
ms-swift-demo/
swift/

